# AuraCast Environment Configuration Example
PORT=3000

# MongoDB Atlas Credentials
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.vozygid.mongodb.net/auracast?retryWrites=true&w=majority
